# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Others
*.swp
*.swo

# Ignore secrets
secrets.json
